.selector {
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0.5em;
}

.selector-small {
  font-size: 0.8em;
}

.selector-regular {
  font-size: 1em;
}

.selector-big {
  font-size: 1.5em;
}
