.product-card {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.product-card-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
}

.product-card-image {
  width: 300px;
  max-height: 300px;
}

.product-card-content,
.product-card-actions {
  padding-left: 20px;
  padding-right: 20px;
}

.product-card-actions {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
