.basket-item {
  display: flex;
  align-items: center;
  padding-bottom: 1em;
  padding-top: 1em;
}

.basket-item-title {
  flex: 3;
}

.basket-item-quantity,
.basket-item-unit,
.basket-item-total,
.basket-item-remove-button {
  flex: 1;
}
